
header{
  margin-top: 20px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 3rem;
  font-weight: 800;
  color: #6EACDA;
  cursor: pointer;
  transition: 0.5s ease;
}
.logo:hover{
  transform: scale(1.1);
}

nav a{
  font-size: 1.8rem;
  color: white;
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.5s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
  color: #6EACDA;
  border-bottom: 3px solid #6EACDA;
}

@media (max-width: 995px){
  nav{
    position: absolute;
    display: none;
    top: 70px;
    right: 9%;
    width: 40%;
    padding: 1rem;
    background-color: black;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Thêm z-index cao hơn để hiển thị trên cùng */
  }

  nav.active{
      display: block;
  }

  nav a {
    display: block;  /* Hiển thị các link theo chiều dọc */
    font-size: 2rem;
    margin: 3rem 0;
  }

  nav a:hover,
  nav a.active{
    padding: 1rem ;
    border-radius: 0.5rem;
      border-bottom: 0.5rem solid #6EACDA;
  }
}


.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;  /* Hiển thị icon hamburger khi màn hình < 768px */
  }

  nav {
    display: none;  /* Ẩn navigation mặc định */
  }
}

nav.show-menu {
  display: block;
}
