<footer class="footer">
  <div class="social-icons">
    <a href="https://www.facebook.com/trihvn/"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="https://github.com/Itatri"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.instagram.com/trisphotographyy"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.behance.net/thvfoto"><i class="fa-brands fa-behance"></i></a>
    <a href="https://www.linkedin.com/in/itatri/"><i class="fa-brands fa-linkedin"></i></a>
</div>
  <div class="text">
      <p>© 2024 Itatri Portfolio. All rights reserved.</p>
  </div>
  <!-- Scroll to top of page -->
  <a href="#" class="arrow" (click)="scrollToTop($event)">
    <i class="fas fa-arrow-up"></i>
  </a>

</footer>
