  <!-- Phần section experiences -->
  <section class="experiences" id="experiences">
    <h2 class="heading">My <span>Experiences</span></h2>

    <div class="experience-container">
        <div class="experience-box">
            <div class="experience-content">
                <div class="year">
                    <i class='bx bxs-calendar'></i>
                    2021 - 2024
                </div>
                <h3>Student - Ho Chi Minh City University of Industry and Trade (HUIT)</h3>
                <p>• Actively participated in academic clubs , honing teamwork and communication skills. </p>
                <p>• Developed strong foundational knowledge in  programming. </p>
                <p>• Cultivated a passion for software development and explored various programming languages and technologies. </p>
            </div>
        </div>

        <div class="experience-box">
            <div class="experience-content">
                <div class="year">
                    <i class='bx bxs-calendar'></i>
                    2023 - 2024
                </div>
                <h3>.Net Developer Intern - ANBS Business Solution</h3>
                <p>• Gained practical experience in developing and maintaining .NET applications. </p>
                <p>• Collaborated with a team of developers to design, implement, and test software solutions. </p>
                <p>• Learned valuable industry best practices and improved problem-solving and debugging skills. </p>
            </div>
        </div>

        <div class="experience-box">
            <div class="experience-content">
                <div class="year">
                    <i class='bx bxs-calendar'></i>
                    2024 - Present
                </div>
                <h3>.Net Developer - ANBS Business Solution</h3>
                <p>• Contribute to the development and maintenance of critical business applications. </p>
                <p>• Participate in all phases of the software development lifecycle, from requirements gathering to deployment and support. </p>
                <p>• Continuously learn and adapt to new technologies and industry trends to enhance my skills and contribute effectively to the team. </p>
            </div>
        </div>
    </div>
</section>

