/* CSS Experiences page */

.experiences {
  padding: 5rem 10%;
}


.experience-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.experience-box {
  background: #323946;
  border-radius: 2rem;
  padding: 2rem;
  transition: .5s ease;
}

.experience-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(14, 255, 255, 0.2);
}

.experience-content {
  padding: 1.5rem;
}

.year {
  font-size: 1.7rem;
  color: #6EACDA;
  padding-bottom: 1rem;
}

.year i {
  margin-right: .5rem;
}

.experience-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem; /* Space between logo and text */
}

.experience-content h3 img {
  height: 2.5rem;
  width: auto;
  object-fit: contain;
  flex-shrink: 0; /* Prevents logo from shrinking */
}

.experience-content h3 span {
  flex: 1;
}



.experience-content p {
  font-size: 1.3rem;
  margin-bottom: .5rem;
  color: #ffffff;
}

.position-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.company {
  font-size: 1.5rem;
  color: #fff;
}

.position {
  font-size: 1.3rem;
  color: #6EACDA;
}
