<section class="experiences" id="experiences">
  <h2 class="heading">My <span>Experiences</span></h2>

  <div class="timeline">
    <!-- First item -->
    <div class="timeline-item">
      <div class="timeline-content">
        <div class="timeline-date">
          <i class='bx bxs-calendar'></i>
          2021 - 2024
        </div>
        <div class="content-header">
          <img src="assets/Icons/HuitLogo.png" alt="HUIT Logo">
          <div class="position-details">
            <div class="company">Ho Chi Minh City University of Industry and Trade</div>
            <div class="position">Student</div>
          </div>
        </div>
        <p>• At university, I learned popular database management systems like SQL Server, MongoDB, and MySQL, as well as programming languages such as C, C#, PHP,
          and Java. I developed interfaces with HTML, CSS, Bootstrap. Studied database design, system design, and software deployment using IIS.</p>
        <div class="timeline-dot"></div>
      </div>
    </div>

    <!-- Second item -->
    <div class="timeline-item">
      <div class="timeline-content">
        <div class="timeline-date">
          <i class='bx bxs-calendar'></i>
          2023 - 2024
        </div>
        <div class="content-header">
          <img src="assets/Icons/ANBS.png" alt="ANBS Logo">
          <div class="position-details">
            <div class="company">ANBS Business Solution</div>
            <div class="position">.Net Developer Intern</div>
          </div>
        </div>
        <p>• During my internship, I participated in software testing and developed web applications using .NET for the backend and
          Bootstrap, jQuery for the frontend. I wrote SQL stored procedures for data queries and used Postman to test APIs.</p>
        <div class="timeline-dot"></div>
      </div>
    </div>

    <!-- Third item -->
    <div class="timeline-item">
      <div class="timeline-content">
        <div class="timeline-date">
          <i class='bx bxs-calendar'></i>
          2024 - Present
        </div>
        <div class="content-header">
          <img src="assets/Icons/ANBS.png" alt="ANBS Logo">
          <div class="position-details">
            <div class="company">ANBS Business Solution</div>
            <div class="position">.Net Developer</div>
          </div>
        </div>
        <p>• Contribute to the development of new software features, troubleshoot and resolve errors, provide customer support for software-related issues.
          Additionally, I actively explore new technologies to enhance my skills and support my career growth.</p>
        <div class="timeline-dot"></div>
      </div>
    </div>
  </div>
</section>

