  <!-- Phần section experiences -->
  <section class="experiences" id="experiences">
    <h2 class="heading">My <span>Experiences</span></h2>

    <div class="experience-container">
        <div class="experience-box">
            <div class="experience-content">
                <div class="year">
                    <i class='bx bxs-calendar'></i>
                    2021 - 2024
                </div>
                <h3>
                  <img src="assets/Icons/HuitLogo.png" alt="HUIT Logo">
                  <div class="position-details">
                    <div class="company">Ho Chi Minh City University of Industry and Trade</div>
                    <div class="position">Student</div>
                  </div>
                </h3>
                <p>• At university, I learned popular database management systems like SQL Server, MongoDB, and MySQL, as well as programming languages such as C, C#, PHP, and Java.
                  I developed interfaces with HTML, CSS. Studied database design, system design, and software deployment using IIS.
                </p>
            </div>
        </div>

        <div class="experience-box">
            <div class="experience-content">
                <div class="year">
                    <i class='bx bxs-calendar'></i>
                    2023 - 2024
                </div>
                <h3>
                  <img src="assets/Icons/ANBS.png" alt="ANBS Logo">
                  <div class="position-details">
                    <div class="company">ANBS Business Solution</div>
                    <div class="position">.Net Developer Intern</div>
                  </div>
                </h3>
                <p>• During my internship, I participated in software testing and developed web applications using .NET for the backend and
                  HTML, CSS, jQuery, AJAX, and JavaScript for the frontend. I wrote SQL stored procedures for data queries and used Postman to test APIs.
                </p>
            </div>
        </div>

        <div class="experience-box">
            <div class="experience-content">
                <div class="year">
                    <i class='bx bxs-calendar'></i>
                    2024 - Present
                </div>
                <h3>
                  <img src="assets/Icons/ANBS.png" alt="ANBS Logo">
                  <div class="position-details">
                    <div class="company">ANBS Business Solution</div>
                    <div class="position">.Net Developer</div>
                  </div>
                </h3>
                <p>• Contribute to the development of new software features, troubleshoot and resolve errors, and provide customer support for software-related issues.
                  Additionally, I actively explore new technologies to enhance my skills and support my career growth.
                </p>
            </div>
        </div>
    </div>
</section>

