<!-- Skills Section -->
<!-- Note: Id skills for Skill click event -->
<section class="skills" id="skills">
  <h2 class="heading">My <span>Skills</span></h2>

  <!-- Slideshow container -->
  <div class="slideshow-container">
    <!-- Skill slides -->
    <div class="mySlides fade" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]" [style.display]="selectedSkillIndex === i ? 'block' : 'none'">
      <div class="skills-box">
        <img [src]="getSkillImage(i)" [alt]="getSkillTitle(i)" class="custom-icon">
        <h3>{{getSkillTitle(i)}}</h3>
        <p>{{getSkillDescription(i)}}</p>
      </div>
    </div>

    <!-- Next and previous buttons -->
    <button class="prev" (click)="prevSkill()">❮</button>
    <button class="next" (click)="nextSkill()">❯</button>
  </div>

  <!-- The dots/circles -->
  <div class="dots">
    <span class="dot" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9]" 
          [class.active]="selectedSkillIndex === i"
          (click)="selectSkill(i)"></span>
  </div>
</section>