<!-- Skills Section -->
<!-- Note: Id skills for Skill click event -->
<section class="skills" id="skills">
  <h2 class="heading">My <span>Skills</span></h2>
  <div class="skills-container">
      <div class="skills-box">
          <img src="assets/Icons/HTML.png" alt="HTML" class="custom-icon">
          <h3>HTML</h3>
          <p>Basic knowledge of HTML tags and structure for web development.</p>
      </div>

      <div class="skills-box">
          <img src="assets/Icons/CSS.png" alt="CSS" class="custom-icon">
          <h3>CSS</h3>
          <p>Basic understanding of CSS for creating and styling user interfaces.</p>
      </div>

      <div class="skills-box">
          <img src="assets/Icons/Boostrap.png" alt="Bootstrap" class="custom-icon">
          <h3>Bootstrap</h3>
          <p>Understanding of the Bootstrap framework for responsive web design.</p>
      </div>

      <div class="skills-box">
          <img src="assets/Icons/Net.png" alt="NET" class="custom-icon">
          <h3>.NET</h3>
          <p>Experience in building Web API, Web MVC and Winform applications.</p>
      </div>

      <div class="skills-box">
          <img src="assets/Icons/Javascript.png" alt="JavaScript" class="custom-icon">
          <h3>JavaScript</h3>
          <p>Knowledge of JavaScript for UI interactions and API integration.</p>
      </div>

      <div class="skills-box">
          <img src="assets/Icons/SQLServer.png" alt="SQLServer" class="custom-icon">
          <h3>SQL Server</h3>
          <p>Have basic knowledge of building and administering SQL Server databases.</p>
      </div>

      <div class="skills-box">
          <img src="assets/Icons/github-logo.png" alt="Github" class="custom-icon">
          <h3>Github</h3>
          <p>Basic skills in version control and collaborative software development.</p>
      </div>

      <div class="skills-box">
          <img src="assets/Icons/postman.png" alt="Postman" class="custom-icon">
          <h3>Postman</h3>
          <p>Basic knowledge of API testing using Postman.</p>
      </div>

      <div class="skills-box">
          <img src="assets/Icons/mongodb.png" alt="MongoDB" class="custom-icon">
          <h3>MongoDB</h3>
          <p>Basic understanding of NoSQL database concepts and operations.</p>
      </div>

      <div class="skills-box">
          <img src="assets/Icons/Figma.png" alt="Figma" class="custom-icon">
          <h3>Figma</h3>
          <p>Introductory skills in UI/UX design and creating prototypes.</p>
      </div>
  </div>
</section>
