  <!-- Phần section Skills -->
  <!-- Note : Id skills for Skill click event -->
  <section class="skills" id="skills">
    <h2 class="heading">My <span>Skills</span></h2>
    <div class="skills-container">
        <div class="skills-box">
            <img src="assets/Icons/HTML.png" alt="HTML" class="custom-icon">
            <h3>HTML</h3>
            <p>Advanced knowledge of HTML5 and semantic markup</p>
        </div>

        <div class="skills-box">
            <img src="assets/Icons/CSS.png" alt="CSS" class="custom-icon">
            <h3>CSS</h3>
            <p>Proficient in CSS3, Flexbox, and Grid layouts</p>
        </div>

        <div class="skills-box">
            <img src="assets/Icons/Boostrap.png" alt="Bootstrap" class="custom-icon">
            <h3>Bootstrap</h3>
            <p>Experience with Bootstrap framework and responsive design</p>
        </div>

        <div class="skills-box">
            <img src="assets/Icons/Net.png" alt="NET" class="custom-icon">
            <h3>.NET</h3>
            <p>Strong background in .NET Framework and C# development</p>
        </div>

        <div class="skills-box">
            <img src="assets/Icons/Javascript.png" alt="JavaScript" class="custom-icon">
            <h3>JavaScript</h3>
            <p>Proficient in modern JavaScript and ES6+ features</p>
        </div>

        <div class="skills-box">
            <img src="assets/Icons/SQLServer.png" alt="SQLServer" class="custom-icon">
            <h3>SQL Server</h3>
            <p>Experience with SQL Server and database management</p>
        </div>

        <div class="skills-box">
            <img src="assets/Icons/github-logo.png" alt="Github" class="custom-icon">
            <h3>Github</h3>
            <p>Proficient in version control and collaborative development</p>
        </div>

        <div class="skills-box">
            <img src="assets/Icons/postman.png" alt="Postman" class="custom-icon">
            <h3>Postman</h3>
            <p>Experienced in API testing and documentation</p>
        </div>

        <div class="skills-box">
            <img src="assets/Icons/mongodb.png" alt="MongoDB" class="custom-icon">
            <h3>MongoDB</h3>
            <p>Skilled in NoSQL database management and operations</p>
        </div>


        <div class="skills-box">
            <img src="assets/Icons/Figma.png" alt="Figma" class="custom-icon">
            <h3>Figma</h3>
            <p>Proficient in UI/UX design and prototyping</p>
        </div>
    </div>
</section>
