/* Style chung của trang web */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;

}

body{
    width: 100%;
    height: 100vh;
    /* overflow:hidden; */
    background-color: black;
    color: white;
}


section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}



span{
    color: #6EACDA;
}

.heading {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 50px;
}

.heading span {
  color: #6EACDA;
}


/* Css độ mượt khi scroll trang */
html {
    scroll-behavior: smooth;
  }


/* Thêm class mới để kích hoạt hover effect */
.social-icons.active a {
  color: #6EACDA;
  transform: translateY(-5px);
}

.social-icons.active a i {
  color: #6EACDA;
}


.social-icons a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid rgb(255, 255, 255);
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  color: rgb(255, 255, 255);
}

.social-icons a:hover {
  color: #6EACDA;
  transform: translateY(-5px);
}

.social-icons a:hover i {
  color: #6EACDA;
}

.btn
{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #6EACDA;
    transition: 0.3s ease;
    cursor: pointer;
}
