<!-- Phần giới thiệu Home Section -->
<section class="home">
  <div class="home-img">
    <img src="assets/Avatar/Itatri_portfo.jpg" alt="">
  </div>
  <div class="home-content">
      <h1>Hi, I'm <span> Van Tri </span> </h1>
      <h3 class="typing-text">I'm a <span></span> </h3>
      <p> I'm currently working at <a href="https://www.facebook.com/profile.php?id=100063469303940">ANBS Business Solution</a> </p>
      <p> Click to my socials to see every thing about me </p>

      <div class="social-icons">
          <a href="https://www.facebook.com/trihvn/"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="https://github.com/Itatri"><i class="fa-brands fa-github"></i></a>
          <a href="https://www.instagram.com/trisphotographyy"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://www.behance.net/thvfoto"><i class="fa-brands fa-behance"></i></a>
          <a href="https://www.linkedin.com/in/itatri/"><i class="fa-brands fa-linkedin"></i></a>
      </div>
      <a (click)="showSocialIcons()" class="btn">Contact Me</a>

  </div>
</section>
